body {
    background-color: #97a833;
    font-size: 18px;
    line-height: 1.6;
}

div {
    
    padding-right: 2%;
    padding-bottom: 2%;
}

canvas {
    border-radius: 5px;
    border: 1px solid #000;
    margin-left: auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}